---
layout: default
---

    <section class="raio-posts-container">
      {% for post in paginator.posts %}
        <article class="raio-post">
            <div class="raio-post-info">
              <span class="raio-post-date">{% include snippets/post-date.html %}</span>
              <!-- <span><strong>tags:</strong> <a href="">nada</a> , <a href="">inicial</a> </span> -->
              <span class="raio-post-comments-count">
                  <i class="raicon-balao raio-post-comments-count-icon"></i>
                  <a href="{{ post.url | prepend: site.url }}#disqus_thread" data-disqus-url="{{ post.url | prepend: site.url}}">
                    Comentários
                  </a>                                              
              </span>            
            </div>
            <h2 class="raio-post-title">
               <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>            
            <div class="raio-post-content">
                <a href="{{ post.url | prepend: site.url }}" class="raio-post-excerpt-link" title='Clique para continuar lendo sobre "{{post.title}}"'>
                  <img src="{{post.image}}" alt='Imagem de exibição para "{{post.title}}"' title="{{post.title}}">
                  {% assign postExcerptWordsCount = post.excerpt | number_of_words %}                  
                  {% assign postWordsCount = post.content | number_of_words %}                  
                  {% assign moreWordsCount = postWordsCount | minus: postExcerptWordsCount %}                  
                  <span>{{ post.excerpt | truncatewords: 100 }}</span>
                  <small>(mais {{ moreWordsCount }} palavras ... )</small>
                </a>
            </div>
        </article>          
      {% endfor %}
      {% include pagination.html %}        
    </section>