<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Hello, robot, look this metatags -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:title" content="{{ site.description }}"/>    
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>    
  <meta property="og:image" content="http://orig10.deviantart.net/e41e/f/2013/212/6/5/jota_teles_by_devianteles-d6g3y4r.png"/>
  <meta property="article:author" content="http://facebook.com/{{site.facebook_username}}">
  <meta property="og:url" content="{{site.url}}">  

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="icon" type="image/x-icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
  <!-- Highlightjs -->
  <link rel="stylesheet" href="/bower_components/highlightjs/styles/monokai_sublime.css">
  <script src="/bower_components/highlightjs/highlight.pack.js" type="text/javascript"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <!-- Hotjar Tracking Code for www.jotateles.com.br -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:64233,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

</head>
