  <header class="raio-header">
      <div class="raio-header-container">
          <h1 class="raio-header-title"><a href="/"><i class="fontawesome-bolt raio-header-icon"></i>Raio frontendizador</a></h1>
          <input class="raio-header-menu-checkbox" id="toggle-menu" type="checkbox" /><label class="raio-header-menu-toggle" for="toggle-menu"><i class="fontawesome-reorder"></i></label>
          <span class="raio-header-menu">
              <ul>
                  <li class="raio-header-menu-item"><a ,="" href="#" title="Sobre o blog"><i class="raio-header-menu-icon fontawesome-user"></i><span>sobre</span></a></li>
                  <li class="raio-header-menu-item"><a ,="" href="#" title="Laboratório de experimentos"><i class="raio-header-menu-icon fontawesome-magic"></i><span>laboratório</span></a></li>
                  <li class="raio-header-menu-item"><a ,="" href="#" title="Assine o feed"><i class="raio-header-menu-icon fontawesome-rss"></i><span>rss</span></a></li>
              </ul>
          </span>
      </div>
  </header>