  <header class="raio-header">
      <div class="raio-header-container">
          <h1 class="raio-header-title"><a href="/"><i class="raicon-raio raio-header-icon"></i>Raio frontendizador</a></h1>
          <input class="raio-header-menu-checkbox" id="toggle-menu" type="checkbox" /><label class="raio-header-menu-toggle" for="toggle-menu"><i class="raicon-menu"></i></label>
          <span class="raio-header-menu">
              <ul>
                  <li class="raio-header-menu-item"><a href="/sobre" title="Sobre o blog"><i class="raio-header-menu-icon raicon-usuario"></i><span>sobre</span></a></li>
                  <li class="raio-header-menu-item"><a href="#" title="Laboratório de experimentos"><i class="raio-header-menu-icon raicon-erlenmeyer"></i><span>laboratório</span></a></li>
                  <li class="raio-header-menu-item"><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="Assine o feed"><i class="raio-header-menu-icon raicon-rss"></i><span>rss</span></a></li>
              </ul>
          </span>
      </div>
  </header>