{% if paginator.total_pages > 1 %}
    <div class="raio-pagination">
        <span class="raio-pagination-count"><strong>Página {{paginator.page}}</strong> de {{paginator.total_pages}}</span>     
        <ul class="raio-pagination-list">
    
    <!-- Anterior -->
    {% if paginator.previous_page %}
            <li class="raio-pagination-item">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &laquo; Anterior</a>
            </li>  
    {% else %}
            <li class="raio-pagination-item raio-pagination-item-inactive">&laquo; Anterior</li>
    {% endif %}

    <!-- Próxima -->
    {% if paginator.next_page %}
            <li class="raio-pagination-item">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próxima &raquo;</a>
            </li>          
    {% else %}
            <li class="raio-pagination-item raio-pagination-item-inactive">Próxima &raquo;</li>
    {% endif %}     
        </ul>      
    </div> 
{% endif %}