  <div class="raio-pagination">
     <span class="raio-pagination-count"><strong>Página 44</strong> de 829</span>
     <ul class="raio-pagination-list">
        <li class="raio-pagination-item"><a href=""> Primeira </a></li>  
        <li class="raio-pagination-item"><a href=""> << </a></li>              
        <li class="raio-pagination-item"><a href="">43</a></li>
        <li class="raio-pagination-item raio-pagination-item-active"><a href="#">44</a></li>
        <li class="raio-pagination-item"><a href="">45</a></li>
        <li class="raio-pagination-item"><a href=""><strong>>></strong></a></li>          
        <li class="raio-pagination-item"><a href=""> Última </a></li>  
     </ul>      
  </div> 