// ##Raicons

$font-face-folder: '../fonts';

@font-face {
    font-family: "Raicons";
    src: url("#{$font-face-folder}/raicons.eot"); // IE9 Compat Modes
    src: url("#{$font-face-folder}/raicons.eot?#iefix") format("embedded-opentype"), // IE6-IE8
        url("#{$font-face-folder}/raicons.woff") format("woff"), // Modern Browsers
        url("#{$font-face-folder}/raicons.ttf")  format("truetype"), // Safari, Android, iOS
        url("#{$font-face-folder}/raicons.svg#raicons") format("svg"); // Legacy iOS
}


$raicons-default-size: 18px;

*[class^='raicon-'],
*[class*=' raicon-'] {
    font-weight: normal;
    font-style: normal;
    font-size: $raicons-default-size;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: inherit;
	font-family: "Raicons";
    display: inline-block;	
}

//   # Lista dos glifos/ícones por unicode

$raicon-dribbble: "\f101";
$raicon-erlenmeyer: "\f102";
$raicon-facebook: "\f103";
$raicon-github: "\f104";
$raicon-linkedin: "\f105";
$raicon-lupa-direita: "\f106";
$raicon-lupa-esquerda: "\f107";
$raicon-menu: "\f108";
$raicon-menu51: "\f109";
$raicon-raio: "\f10a";
$raicon-rss: "\f10b";
$raicon-twitter: "\f10c";
$raicon-usuario: "\f10d";

// Classes 

.raicon-dribbble:before { content: $raicon-dribbble;}
.raicon-erlenmeyer:before { content: $raicon-erlenmeyer;}
.raicon-facebook:before { content: $raicon-facebook;}
.raicon-github:before { content: $raicon-github;}
.raicon-linkedin:before { content: $raicon-linkedin;}
.raicon-lupa-direita:before { content: $raicon-lupa-direita;}
.raicon-lupa-esquerda:before { content: $raicon-lupa-esquerda;}
.raicon-menu:before { content: $raicon-menu;}
.raicon-menu51:before { content: $raicon-menu51;}
.raicon-raio:before { content: $raicon-raio;}
.raicon-rss:before { content: $raicon-rss;}
.raicon-twitter:before { content: $raicon-twitter;}
.raicon-usuario:before { content: $raicon-usuario;}