 <div class="raio-widget">
    <h3 class="raio-widget-title">Jota Teles</h3>                 
    <img src="/images/jotateles-bolt.svg">
    <a href="https://www.facebook.com/jota.teles" title="meu facebook" class="s-margin-right-1"><i class="raicon-facebook"></i></a>
    <a href="https://www.codepen.io/teles" title="meu codepen" class="s-margin-right-1"><i class="raicon-codepen"></i></a>
    <a href="http://github.com/teles" title="meu github" class="s-margin-right-1"><i class="raicon-github"></i></a>
<!--     <a href="https://www.twitter.com/raiofront" title="meu twitter"><i class="raicon-twitter"></i></a> -->
 </div>         