 <div class="raio-widget raio-license-widget">
    <h3 class="raio-widget-title">
       Licença
    </h3>   
     <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Licença Creative Commons"  src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" class="raio-license-widget-badge"/>
    </a>
    <p class="raio-license-widget-text">
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
           Raio frontendizador
        </span> de 
        <a xmlns:cc="http://creativecommons.org/ns#" href="http://teles.github.io" property="cc:attributionName" rel="cc:attributionURL">
           Jota Teles
        </a>
        está licenciado com uma Licença 
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
           Creative Commons - Atribuição-CompartilhaIgual 4.0 Internacional.
        </a>                 
    </p>                                    
 </div>              