// # Posts
// ## Posts container
//
.raio-posts-container  
   @include m-clearfix
   @media (min-width: $screen-tablet-min)
      width: calc((100%/3) * 2)   
      float: left
   @media (min-width: $screen-desktop-min)      
      width: calc((100%/4) * 3)   
      float: left      
   + .raio-widgets-container      
      margin-top: spacing(2)
      @media (min-width: $screen-tablet-min)
         margin-top: 0
         width: calc((100%/3) - #{spacing(2)})   
         float: left         
         margin-left: spacing(2)
      @media (min-width: $screen-desktop-min)       
         width: calc((100%/4) - #{spacing(2)})   
              

// ## Post
//
.raio-post   
   background-color: white
   padding: spacing(2)
   @media (min-width: $screen-desktop-min)
      padding: spacing(3)
   + .raio-post,
   + .raio-pagination
      margin-top: spacing(2)
      color: #333
   .raio-post-title,
   .raio-post-title > a
      color: $color-blue      
      + .raio-post-content
         margin-top: spacing(1)
   .raio-post-content         
      a
         color: $color-orange
         &:hover
            color: $color-yellow
         &.raio-post-excerpt-link         
            color: $color-gray-dark                     
            &:hover
               color: $color-yellow
               text-decoration: underline
      img
         max-width: 100%
      p, ul, h1, h2, h3
         margin-top: spacing(2)      
         margin-bottom: spacing(2)  
         a
            max-width: 100%
            white-space: pre-wrap
            word-break: break-all         
      hr 
         border-width: 1px 0 0 0
         border-style: solid 
         border-top-color: $color-primary
      blockquote
         color: $color-gray-dark
         background-color: $color-gray-light
         font-style: italic
         padding: spacing(1) spacing(2)
         text-align: justify
      table
         border: 1px solid $color-blue
         width: 100%
         tr 
            line-height: 1.75
            td,
            th
               text-indent: spacing(1)
         thead
            background-color: $color-blue
            color: $color-white
            text-align: left   
         tbody
            tr:nth-child(even)
               background-color: $color-silver
   .raio-post-info
      margin-top: spacing(1)
      font-size: 13px
      text-transform: uppercase
      color: $color-gray
      font-family: $font-family-bold
   .raio-post-date
      margin-right: spacing(1)      
   .raio-post-comments-count
      color: $color-success
      .raio-post-comments-count-icon
         font-size: 8pt
