<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  
  <body class="{{page.class}}">
    {% include plugins/fb-page-import.html %}        
    <div class="raio-color-stripes"></div>

    {% include header.html %}
    
    <main class="raio-body">
        {{ content }} 
        <aside class="raio-widgets-container">
          <section class="raio-widgets raio-widgets-special">
            {% include widgets/author-information.html %}        
          </section>
<!--           <section class="raio-widgets">
            {% include plugins/fb-page-widget.html %}        
          </section>   -->        
<!--           <section class="raio-widgets">
            {% include widgets/tags.html %}        
          </section> -->
<!--           <section class="raio-widgets">
            {% include widgets/search.html %}        
          </section> -->
          <section class="raio-widgets">
            {% include widgets/license.html %}        
          </section>
        </aside>
    </main>

    {% include footer.html %}

  </body>
</html>