---
layout: default
---
    <section class="raio-posts-container">
        <article class="raio-post">
            <h2 class="raio-post-title">{{ page.title }}</h2>
            <div class="raio-post-info">
              <!-- <span><strong>tags:</strong> <a href="">nada</a> , <a href="">inicial</a> </span> -->
              <span class="raio-post-date">
                    {% include snippets/page-date.html %}   
              </span>
            </div>
            <hr class="raio-separator raio-separator-primary">
            <div class="raio-post-content">
                {{ content }}
                </p>
            </div>
            {{% if page.comments == true % }}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                // Required: on line below, replace text in quotes with your forum shortname
                var disqus_shortname = 'jotateles';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Por favor, habilite seu javascript <a href="https://disqus.com/?ref_noscript" rel="nofollow">para ver comentários do Disqus.</a></noscript>            
            {{% endif %}}
        </article>          
    </section>