---
layout: default
---
    <section class="raio-posts-container">
        <article class="raio-post">
            <h2 class="raio-post-title">{{ page.title }}</h2>
            <div class="raio-post-info">
              <!-- <span><strong>tags:</strong> <a href="">nada</a> , <a href="">inicial</a> </span> -->
              <span class="raio-post-date">
                    {% include snippets/page-date.html %}   
              </span>
            </div>
            <hr class="raio-separator raio-separator-primary">
            <div class="raio-post-content">
                {{ content }}
                </p>
            </div>
            {{% if page.comments == true % }}
            {% include snippets/disqus.html %}            
            {{% endif %}}
        </article>          
    </section>